@model easylife.Models.UserDashboardViewModel.myEditViewModel
@{
    ViewBag.Title = "EasyLife | Dashboard |Edit Profile";
}
<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index","UserHome")><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("dashboard", new { id=Model.MemberId}) ><i class="fa fa-dashboard"></i>Dashboard</a></li>
						<li><a  class="active"><i class="fa fa-dashboard"></i>Edit Information</a></li>
						
						</ol>
					</div>
						
						
						
					<div class="col-md-9 " style="height:700px; padding-left:200px;padding-right:200px;" >
						
						<div class="container-fluid">
							
							
						@using (Html.BeginForm("edit", "UserDashboard",new {m=Model.member}, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
    
						
						                    <div class="box-body">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.LabelFor(model=> model.member.Name)
                                                        <div>
                                                            @Html.EditorFor(model => model.member.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.member.Name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model=> model.member.Email)
                                                        <div>
                                                            @Html.EditorFor(model => model.member.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.member.Email, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model=> model.member.Gender)
                                                        <div>
                                                           Male @Html.RadioButton("gender","Male")
                                                           Female @Html.RadioButton("gender","Female")
                                                           Other @Html.RadioButton("gender","Other")
                                                            @Html.ValidationMessageFor(model => model.member.Gender, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                     <div class="form-group">
                                                        @Html.LabelFor(model => model.member.PhoneNumber)
                                                        <div>
                                                            @Html.EditorFor(model => model.member.PhoneNumber, new {@class = "form-control"})
                                                            @Html.ValidationMessageFor(model => model.member.PhoneNumber, "", new { @class = "text-danger"})
                                                        </div>
                                                    </div>
                                                    
                                                </div>@*
					                             <a href=@Url.Action("manageAddress", new { id=Model.MemberId})><button type="button" class="btn btn-info" >Manage Address</button></a>*@
						
					                    
					                    <div class="modal-footer">
						                    <input type="submit" value="Update" class="btn btn-primary" />
                                            
					                    </div>
				                 
                       }
							
						
					</div>	
					
				</div>