@model easylife.Models.UserHomeViewModel.catagoryViewModel

@{
    ViewBag.Title = "EasyLife | Home | Category";

}


<link href="~/Styles/Style_user.css" rel="stylesheet" />
<div class="container-fluid ">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("index")><i></i> Home</a></li>
        <li><a class="active"><i></i>Catagory</a></li>

    </ol>
</div>




<div class="container-fluid well">
    <div class="col-md-3">
        <a><img class="img-thumbnail brand" src="~/resources/yellow.jpg"></a>
    </div>
    <div class="col-md-9">
        <p>easylife.com is the ultimate online shopping destination for Bangladesh offering completely hassle-free shopping experience through secure and trusted gateways. We offer you trendy and reliable shopping with all your favorite brands and more. Now shopping is easier, faster and always joyous. We help you make the right choice here. easylife.com has been launched in February 2013. It is an initiative of the leading IT firm Splendor IT.</p>
    </div>



</div>

					</br>
					</br>


@{


    @Html.Raw("<div class=\"container-fluid well\">")

    foreach (var item in Model.productByCatagory)
    {
        <div class="container-fluid col-md-3">
            <a href=@Url.Action("details", new {id=item.ProductId })>@Html.Raw(String.Format("<img class=\"img-thumbnail img2\" src=\"/resources/{0}.jpg\">", item.ProductId))</a>
            <div style="text-align:center ;">
                <p>@item.ProductName</p>
                <p>&#2547; @item.SellingPrice </p>
                <p>
                    @for (int i = 1; i <= item.Star; i++)
                    {
                        <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
                    }
                    @for (int i = 1; i <= 5 - item.Star; i++)
                    {
                        <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
                    }
                </p>
                <p><a href=@Url.Action("details", new { id = @item.ProductId})><button type="button" class="btn btn-info">Buy</button></a></p>
            </div>

        </div>
    }

    if (Model.productByCatagory.Count() == 0)
    {
        <h2>There are no produtcts available now!!! </h2>
    }
    @Html.Raw("</div> ")



}






					</br>
					</br>







					</br>
					</br>



@section Signup{

    <div class="modal fade" id="signupModal" role="dialog" style="padding-top:50px;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                <div>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" ,@id="NameErr"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                <div>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" ,@id="EmailErr"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender)
                                <div>
                                    Male @Html.RadioButton("gender", "Male")
                                    Female @Html.RadioButton("gender", "Female")
                                    Other @Html.RadioButton("gender", "Other")
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber)
                                <div>
                                    @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                <div>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" ,@id="PassErr"})
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            Already Registerd?&nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#loginmodal"><button type="button" id="login" class="btn btn-info">Log In</button></a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Sign Up" id="signup" class="btn btn-primary" />
                        @*<a href=@Url.Action("dashboard")><button type="button" class="btn btn-info" >Sign Up</button></a>*@
                    </div>
                </div>
            </div>
        </div>

}

