@model easylife.Models.UserHomeViewModel.DetailViewModel
@{
    ViewBag.Title = "EasyLife | Details";
    int c = 0;
    Session["ProductId"] = Model.DetailProduct.ProductId;
}
<link href="~/Styles/Style_user.css" rel="stylesheet" />
<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index")><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("search") >Search</a></li>
						<li><a  class="active">Details</a></li>
						
						</ol>
					</div>
					
					
					<div class="container-fluid ">
						
						
						
						
						
						<div class="container-fluid col-md-4">
						
								
									<div class="easyzoom example">
										@Html.Raw(String.Format("<img src=\"/resources/{0}.jpg\">", Model.DetailProduct.ProductId))
                                       @* <img src="~/resources/2.jpg">*@
									</div>
								
						
							<div >
							
								<p>
								<span id="viewed" class="glyphicon glyphicon-eye-open" style="font-size: 25px;text-align:center;color:gray" title="10 people viewed this Product"></span><small style="font-size: 15px;">(@Model.DetailProduct.TotalViewed)</small>
									&nbsp;
								<span id="purchase" class="glyphicon glyphicon-shopping-cart" style="font-size: 25px;text-align:center;color:gray" title="5 people Purchased this Product"></span><small style="font-size: 15px;">(@Model.DetailProduct.TotalSell)</small>
									&nbsp;
								<span id="like" class="glyphicon glyphicon-thumbs-up point" style="font-size: 30px;text-align:center;color:black" title="Like this Product"></span><small style="font-size: 15px;">(@Model.Like)</small>
									&nbsp;
								<span id="unlike" class="glyphicon glyphicon-thumbs-down point" style="font-size: 30px;text-align:center;color:black"title="Dislike this Product"></span><small style="font-size: 15px;">(@Model.DisLike)</small>
								</p>
							</div>
							
							
						</div>
						<div style="margin-left:10%" class="container-fluid col-md-6">
							
							
							<table class="table table-striped reg  " style="width:400px;">
								 @using(Html.BeginForm("AddToCart", "UserHome", new { id = Model.DetailProduct.ProductId }, FormMethod.Post))
         {
								<tbody>
									<tr>
										<th>Product Name</th>
										<td><p>@Model.DetailProduct.ProductName</p></td>
									</tr>
									<tr>
										<th>Product Price</th>
										<td><p>$@Model.DetailProduct.SellingPrice</p></td>
									</tr>
									<tr>
										<th>Size</th>
										<td> <input type="radio"/>S
											<input type="radio"/>M
											<input type="radio"/>L
											<input type="radio"/>XL
										</td>
									</tr>
									<tr>
										<th>Quantity</th>
										<td><input id="qty" name="qty" type="number" value="1"/></td>
									</tr>
									<tr>
										<td colspan="2">
										<p>	
                                           @for(int i = 1; i <= Model.DetailProduct.Star; i++)
                                           {
                                                <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
                                           }
                                           @for(int i = 1; i <= 5 - Model.DetailProduct.Star; i++)
                                           {
                                                <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
                                           }
											
											
											
											
										</p>	
										</td>
									</tr>
									
									<tr>
										<td colspan="2">
											
											<p>	
												<span id="cart" class="glyphicon glyphicon-shopping-cart point" style="font-size:30px; padding-left:20px;color:grey" title="Add to Cart"></span>
							
												<span id="love" class="glyphicon glyphicon-heart point" style="font-size:30px; padding-left:20px;color:grey" title="Save for later"></span>
												
                                                <input type="submit" value="Buy Now" class="btn btn-primary" style="margin-bottom:10px;margin-left:20px" />
												@*<a href=@Url.Action("shoppingCart", new { id = Model.DetailProduct.ProductId })><button type="button" class="btn btn-primary" style="margin-bottom:10px;margin-left:20px">Buy Now</button></a>*@
											</p>
										</td>
									</tr>
									
								</tbody>
							
         }
						</table>
						
							
							</br>
							</br>
							
							<div class="container-fluid ">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#feature">Feature</a></li>
									<li><a data-toggle="tab" href="#size">Size</a></li>
									<li><a data-toggle="tab" href="#review">Review</a></li>
						
								   
								 </ul>

								 </br>
							

								 <div class="tab-content">
									<div id="feature" class="tab-pane fade in active" style="height:100px;overflow:auto">
										<p>@Model.DetailProduct.Features</p>
									</div>


									<div id="size" class="tab-pane fade">
									<table class="table table-striped reg  " style="width:400px;">
								
								<tbody>
									<tr>
										<th>Size</th>
										<th>Small</th>
										<th>Medium</th>
										<th>Large</th>
										<th>XL</th>
									</tr>
									<tr>
										<td>chest</td>
										<td>30</td>
										<td>38</td>
										<td>40</td>
										<td>42</td>
									</tr>
									<tr>
										<td>Length</td>
										<td>25</td>
										<td>26</td>
										<td>27</td>
										<td>27</td>
								
									</tr>
									
									
								</tbody>
							</table>
										
									</div>
									<div id="review" class="tab-pane fade" style="height:200px;overflow:auto">
									<table class="table table-striped " >
								
								<tbody>
									@foreach(var Review in Model.Reviews)
                                    {
                                         <tr>
										<td> <img class="img-circle user" src="~/resources/u2.jpg"></td>
										<td>@Review.MemberId</td>
										<td><img class="img-circle user" src="~/resources/gold.jpg"></td>
										<td> <p style="text-align:justify;">@Review.Review</p></td>
										
									    </tr>
                                      }
									
									@*<tr>
									<td> <img class="img-circle user" src="~/resources/u1.jpg"></td>
										<td>Norvvis</td>
										<td><img class="img-circle user" src="~/resources/bronze.jpg"></td>
										<td> <p style="text-align:justify;">It is a long established fact that a reader will be distracted
										  by the readable content of a page when looking at its layout.</p></td>
										
									</tr>*@
									<tr>
										<td colspan="3"> <p><b>Type Your review</b></p></td>
										
										
									</tr>
                                    @using(Html.BeginForm("InsertReview", "UserHome", FormMethod.Post))
                                    {
									<tr>
									<td> <img class="img-circle user" src="~/resources/user.jpg"></td>
										<td>Rakib</td>
										<td><img class="img-circle user" src="~/resources/platinum.jpg"></td>
                                        <td>
                                               <input type="text" name="review"/> <input type="submit" value="Submit" class="btn btn-primary" />
                                        </td>
										
									</tr>
                                    }
									
								</tbody>
							</table>
										
									</div>

									
								   
								 </div>

					</div>
						
					</div>	
					

				</div>
				<div class="container-fluid">
					<h3 class="neon" style="margin-top:120px"><p><b>Related Products</b></p></h3>


                     @{
                      
                          
                               @Html.Raw("<div class=\"container-fluid well\">")
                           
                         foreach(var item in Model.RelatedProducts)
                         {
                               <div class="container-fluid col-md-3">
							    <a href=@Url.Action("details", new { id = item.ProductId })>@Html.Raw(String.Format("<img class=\"img-thumbnail img2\" src=\"/resources/{0}.jpg\">", item.ProductId))</a>
							    <div style="text-align:center ;">
								    <p>@item.ProductName</p>
								    <p>@item.SellingPrice $</p>
								    <p>
									@for(int i = 1; i <= item.Star; i++)
         {
                                          <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
         }
                                    @for(int i = 1; i <= 5 - item.Star; i++)
                                    {
                                        <span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
                                    }
								</p>
								    <p><a href=@Url.Action("details", new { id = @item.ProductId })><button type="button" class="btn btn-info" >Buy</button></a></p>
							    </div>

						        </div>
                                    c++;
                                    if(c == 4)
                                    { break; }
                         }
                           
                            
                           @Html.Raw("</div> ")
                            
       
                    }

					
					
					</br>
					</br>
					
					<h3 class="neon" data-text="!!New Arrival!!"><p><b>!!New Arrival!!</b></p></h3>
					<div class="container-fluid well">
						
						
						
						
						
						<div class="container-fluid col-md-3">
							<a href="details"><img class="img-thumbnail img2" src="~/resources/1.jpg"></a>
							<div style="text-align:center ;">
								<p>Kakashi T-Shirt</p>
								<p>450 $</p>
								<p>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
								</p>
								<p><a href="details"><button type="button" class="btn btn-info" >Buy</button></a></p>
							</div>
							
							
						</div>
						<div class="container-fluid col-md-3">
							<a href="details"><img class="img-thumbnail img2" src="~/resources/2.jpg"></a>
							<div style="text-align:center ;">
								<p>Kakashi T-Shirt</p>
								<p>450 $</p>
								<p>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
								</p>
								<p><a href="details"><button type="button" class="btn btn-info" >Buy</button></a></p>
							</div>
							
							
						</div>
						<div class="container-fluid col-md-3">
							<a href="details"><img class="img-thumbnail img2" src="~/resources/3.jpg"></a>
							<div style="text-align:center;">
								<p>Kakashi T-Shirt</p>
								<p>450 $</p>
								<p>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
								</p>
								<p><a href="details"><button type="button" class="btn btn-info" >Buy</button></a></p>
							</div>
							
							
						</div>
						<div class="container-fluid col-md-3">
							<a href="details"><img class="img-thumbnail img2" src="~/resources/f1.jpg"></a>
							<div style="text-align:center ;">
								<p>Kakashi T-Shirt</p>
								<p>450 $</p>
								<p>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
								</p>
								<p><a href="details"><button type="button" class="btn btn-info" >Buy</button></a></p>
							</div>
							
							
						</div>
						
					</div>	
					
					</br>
					</br>
					
					
					
					
					
					
				</div>


@section Signup{
                
             @using(Html.BeginForm("SignUp", "UserHome", FormMethod.Post))
             {
			        <div class="modal fade" id="signupModal" role="dialog" style="padding-top:50px;">
			        <div class="modal-dialog modal-sm">
				        <div class="modal-content">
					
					        <div class="modal-body" >
						
						        <div class="box-body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name)
                                            <div>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email)
                                            <div>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Gender)
                                            <div>
                                                Male @Html.RadioButton("gender", "Male")
                                                Female @Html.RadioButton("gender", "Female")
                                                Other @Html.RadioButton("gender", "Other")
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                            <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber)
                                            <div>
                                                @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password)
                                            <div>
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
					                <div class="box-footer">
                                        Already Registerd?&nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#loginmodal"><button type="button" id="login" class="btn btn-info" >Log In</button></a>
                                    </div>
						
					        </div>
					        <div class="modal-footer">
						        <input type="submit" value="Sign Up" class="btn btn-primary" />
                                @*<a href=@Url.Action("dashboard")><button type="button" class="btn btn-info" >Sign Up</button></a>*@
					        </div>
				        </div>
			        </div>
		        </div>
             }   
    
     }
				
			
			
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="~/Scripts/easyzoom.js"></script>
    <script>
        $('.example').easyZoom({
            width: 300,
            position: 'bottom',
			background: 'white',
        });
    </script>	
	<script>   

	
	$("span").on("click", function(){

	  whichButton = this.id;
	  
	  if (whichButton === "love") 
	  {
		if($("#love").css("color")=='rgb(128, 128, 128)')
		{
			$("#love").css("color", "red");
			alert("Added into Your favourite list");
		}
		else
		{
			$("#love").css("color", "gray");
			alert("Removed from your favorite list");
		}
		
	  }
	  else if (whichButton === "cart") 
	  {
		if($("#cart").css("color")=='rgb(128, 128, 128)')
		{
			$("#cart").css("color", "green");
			alert("Added into Your Cart");
		}
		else
		{
			$("#cart").css("color", "gray");
			alert("Removed from your cart");
		}
		
	  }

	else if (whichButton === "like")	  
	  {

		if($("#like").css("color")=='rgb(0, 0, 0)')
		{
			
			$("#like").css("color", "green");
			$("#unlike").css("color", 'rgb(0, 0, 0)');
		}
		else
		{
			$("#like").css("color", 'rgb(0, 0, 0)');
		}
		
	  }
	  else if(whichButton === "unlike")
	  {
	
		if($("#unlike").css("color")=='rgb(0, 0, 0)')
		{
			
			$("#unlike").css("color", "red");
			$("#like").css("color", 'rgb(0, 0, 0)');
		}
		else
		{
			$("#unlike").css("color", 'rgb(0, 0, 0)');
		}
	  }
	  
	  
	});
	</script>		
			