@model easylife.Models.UserHomeViewModel.IndexViewModel
@{
    ViewBag.Title = "EasyLife | Home";
}


<link href="~/Styles/Style_user.css" rel="stylesheet" />
<div class="container-fluid ">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="1"></li>
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="2"></li>
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="3"></li>
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="4"></li>
            <li style="background-color:gray" data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">


            <div class="item active">
                <img src="~/resources/slider1.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/resources/slider2.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/resources/slider3.jpg" alt="New york" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/resources/slider4.jpg" alt="New york" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/resources/slider5.jpg" alt="New york" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/resources/slider6.jpg" alt="New york" style="width:100%;">
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
				</br>
				</br>
				</br>
				</br>

<div class="container-fluid well">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Top Brand</a></li>
        <li><a data-toggle="tab" href="#menu1">Fashion Brand</a></li>
        <li><a data-toggle="tab" href="#menu2">Shoe Brand</a></li>

    </ul>

    </br>


    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="container">
                @*<img class="img-thumbnail brand" src="~/resources/easy.jpg">
                    <img class="img-thumbnail brand" src="~/resources/yellow.jpg">
                    <img class="img-thumbnail brand" src="~/resources/arong.jpg">
                    <img class="img-thumbnail brand" src="~/resources/ectasy.jpg">
                    <img class="img-thumbnail brand" src="~/resources/bata.jpg">
                    <img class="img-thumbnail brand" src="~/resources/apex.jpg">*@

                <div id="myCarouse9" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="easy"})><img src="~/resources/easy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="yellow"})> <img src="~/resources/yellow.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="arong"})><img src="~/resources/arong.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="ectasy"})><img src="~/resources/ectasy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="bata"})> <img src="~/resources/bata.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>

                            </div>
                        </div>

                        <div class="item">
                            <div class="row">

                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="yellow"})> <img src="~/resources/yellow.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="arong"})><img src="~/resources/arong.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="ectasy"})><img src="~/resources/ectasy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="bata"})> <img src="~/resources/bata.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="apex"})><img src="~/resources/apex.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">

                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="arong"})><img src="~/resources/arong.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="ectasy"})><img src="~/resources/ectasy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="bata"})> <img src="~/resources/bata.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="apex"})><img src="~/resources/apex.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="easy"})> <img src="~/resources/easy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">


                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="ectasy"})><img src="~/resources/ectasy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="bata"})> <img src="~/resources/bata.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="apex"})><img src="~/resources/apex.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="easy"})> <img src="~/resources/easy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="yellow"})><img src="~/resources/yellow.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">

                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="bata"})> <img src="~/resources/bata.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="apex"})><img src="~/resources/apex.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="easy"})> <img src="~/resources/easy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="yellow"})><img src="~/resources/yellow.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="arong"})><img src="~/resources/arong.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">

                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="apex"})><img src="~/resources/apex.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="easy"})> <img src="~/resources/easy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="yellow"})><img src="~/resources/yellow.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="arong"})><img src="~/resources/arong.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>

                                <div class="col-sm-2">
                                    <a href=@Url.Action("brand", new {brand="ectasy"})> <img src="~/resources/ectasy.jpg" alt="Chicago" class="img-thumbnail brand"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse9" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse9" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>




        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="container">
                <a href=@Url.Action("brand", new {brand="easy"})> <img class="img-thumbnail brand" src="~/resources/easy.jpg"></a>
                <a href=@Url.Action("brand", new {brand="yellow"})> <img class="img-thumbnail brand" src="~/resources/yellow.jpg"></a>
                <a href=@Url.Action("brand", new {brand="arong"})> <img class="img-thumbnail brand" src="~/resources/arong.jpg"></a>
                <a href=@Url.Action("brand", new {brand="ectasy"})><img class="img-thumbnail brand" src="~/resources/ectasy.jpg"></a>

            </div>

        </div>
        <div id="menu2" class="tab-pane fade">

            <div class="container">

                <a href=@Url.Action("brand", new {brand="bata"})>   <img class="img-thumbnail brand" src="~/resources/bata.jpg"></a>
                <a href=@Url.Action("brand", new {brand="apex"})>  <img class="img-thumbnail brand" src="~/resources/apex.jpg"></a>


            </div>

        </div>

    </div>

</div>

				</br>
				</br>

<div class="container-fluid well">
    <h2><b>Fashion</b></h2>
</div>

<div class="container-fluid well">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sale">Top sale</a></li>
        <li><a data-toggle="tab" href="#male">Male</a></li>
        <li><a data-toggle="tab" href="#female">Female</a></li>
        <li><a data-toggle="tab" href="#kids">Kids</a></li>

    </ul>

    </br>


    <div class="tab-content">
        <div id="sale" class="tab-pane fade in active">
            <div class="container-fluid">
                @* <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/1.jpg"></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/w1.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/f1.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/panjabi.jpg"></a>*@

                <div id="myCarouse2" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=1})><img src="~/resources/1.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=4})> <img src="~/resources/4.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=12})><img src="~/resources/12.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=13})><img src="~/resources/13.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=22})> <img src="~/resources/22.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=29})><img src="~/resources/29.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=36})><img src="~/resources/36.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=28})><img src="~/resources/28.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=50})> <img src="~/resources/50.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})> <img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=50})><img src="~/resources/50.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=63})><img src="~/resources/63.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <div id="male" class="tab-pane fade">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/1.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/3.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/1.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/3.jpg" ></a>*@


                <div id="myCarouse3" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=5})><img src="~/resources/5.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=6})> <img src="~/resources/6.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=7})><img src="~/resources/7.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=12})><img src="~/resources/12.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=15})> <img src="~/resources/15.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=16})><img src="~/resources/16.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=17})><img src="~/resources/17.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=18})><img src="~/resources/18.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=22})> <img src="~/resources/22.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=23})> <img src="~/resources/23.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=24})><img src="~/resources/24.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=25})><img src="~/resources/25.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse3" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse3" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        <div id="female" class="tab-pane fade">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/w1.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/f1.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/Dupatta.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/Kameez.jpg" ></a>*@

                <div id="myCarouse4" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=29})><img src="~/resources/29.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=30})> <img src="~/resources/30.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=31})><img src="~/resources/31.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=32})><img src="~/resources/32.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=36})> <img src="~/resources/36.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=37})><img src="~/resources/37.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=38})><img src="~/resources/38.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=39})><img src="~/resources/39.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=64})> <img src="~/resources/64.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=65})> <img src="~/resources/65.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=66})><img src="~/resources/66.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=67})><img src="~/resources/67.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse4" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse4" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="kids" class="tab-pane fade">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/f2.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/f1.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/gks1.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/gks2.jpg" ></a>*@

                <div id="myCarouse5" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=1})><img src="~/resources/1.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=2})> <img src="~/resources/2.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=3})><img src="~/resources/3.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=8})><img src="~/resources/8.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=9})> <img src="~/resources/9.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=10})><img src="~/resources/10.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=11})><img src="~/resources/11.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=43})><img src="~/resources/43.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=44})> <img src="~/resources/44.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=45})> <img src="~/resources/45.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=46})><img src="~/resources/46.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=47})><img src="~/resources/47.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse5" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse5" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

				</br>
				</br>



<div class="container-fluid well">
    <h2><b>Accessories</b> </h2>
</div>
<div class="container-fluid well">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Accessories">Top Sale </a></li>
        <li><a data-toggle="tab" href="#mac">Male</a></li>
        <li><a data-toggle="tab" href="#fac">Female</a></li>


    </ul>

    </br>


    <div class="tab-content">
        <div id="Accessories" class="tab-pane fade in active">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/eri.jpg"></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/er2.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/emporio watch.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/cap6.jpg"></a>*@

                <div id="myCarouse6" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=50})><img src="~/resources/50.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})> <img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=64})><img src="~/resources/64.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=51})><img src="~/resources/51.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=58})> <img src="~/resources/58.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=65})><img src="~/resources/65.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=52})><img src="~/resources/52.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=59})><img src="~/resources/59.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=66})> <img src="~/resources/66.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=60})> <img src="~/resources/60.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=53})><img src="~/resources/53.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=61})><img src="~/resources/61.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse6" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse6" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <div id="mac" class="tab-pane fade">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/emporio watch.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/fasttrack sunglass.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/cap6.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/digital watch.jpg" ></a>*@

                <div id="myCarouse7" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})><img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=58})> <img src="~/resources/58.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=59})><img src="~/resources/59.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=60})><img src="~/resources/60.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=61})> <img src="~/resources/61.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=62})><img src="~/resources/62.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=63})><img src="~/resources/63.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})><img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})> <img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=58})> <img src="~/resources/58.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=59})><img src="~/resources/59.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=60})><img src="~/resources/60.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse7" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse7" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="fac" class="tab-pane fade">
            <div class="container-fluid">
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/eri.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/er2.jpg" ></a>
                    <a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/er33.jpg" ></a>*@
                @*<a href=@Url.Action("details",new{id=})><img class="img-thumbnail img2" src="~/resources/er4.jpg" ></a>*@

                <div id="myCarouse8" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=50})><img src="~/resources/50.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=51})> <img src="~/resources/51.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=52})><img src="~/resources/52.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=53})><img src="~/resources/53.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=70})> <img src="~/resources/70.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=69})><img src="~/resources/69.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=68})><img src="~/resources/68.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=67})><img src="~/resources/67.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=66})> <img src="~/resources/66.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=65})> <img src="~/resources/65.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=54})><img src="~/resources/54.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=55})><img src="~/resources/55.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse8" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse8" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>



    </div>

</div>





<div class="container-fluid well">
    <h2><b>Wow Offer!!!</b></h2>
</div>
<div class="container-fluid well">


    <div class="tab-content">
        <div id="" class="tab-pane fade in active">
            <div class="container-fluid">

                <div id="myCarouse10" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=15})><img src="~/resources/15.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=22})> <img src="~/resources/22.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=29})><img src="~/resources/29.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=57})><img src="~/resources/57.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=21})> <img src="~/resources/21.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=28})><img src="~/resources/28.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=35})><img src="~/resources/35.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=42})><img src="~/resources/42.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=49})> <img src="~/resources/49.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;199</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=56})> <img src="~/resources/56.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=63})><img src="~/resources/63.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=70})><img src="~/resources/70.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=16})> <img src="~/resources/16.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;199</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=23})> <img src="~/resources/23.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=30})><img src="~/resources/30.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=37})><img src="~/resources/37.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse10" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse10" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>



<div class="container-fluid well">
    <h2><b>FLASH DEALS</b> </h2>
</div>
<div class="container-fluid well">


    <div class="tab-content">
        <div id="" class="tab-pane fade in active">
            <div class="container-fluid">

                <div id="myCarouse11" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=17})> <img src="~/resources/17.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;199</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=24})> <img src="~/resources/24.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=38})><img src="~/resources/38.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=32})><img src="~/resources/32.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=39})><img src="~/resources/39.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;300</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=46})> <img src="~/resources/46.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=54})><img src="~/resources/54.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=59})><img src="~/resources/59.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>



                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=37})> <img src="~/resources/37.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;199</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=14})> <img src="~/resources/14.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=41})><img src="~/resources/41.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=55})><img src="~/resources/55.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=46})> <img src="~/resources/46.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=18})><img src="~/resources/18.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;299</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=13})><img src="~/resources/13.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <a href=@Url.Action("details",new{id=25})><img src="~/resources/25.jpg" alt="Chicago" class="img-thumbnail img2"></a>
                                    <span><b>&#2547;399</b></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse11" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse11" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

				</br>
				</br>


@section Signup{

    <div class="modal fade" id="signupModal" role="dialog" style="padding-top:50px;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                <div>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" ,@id="NameErr"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                <div>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" ,@id="EmailErr"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender)
                                <div>
                                    Male @Html.RadioButton("gender", "Male")
                                    Female @Html.RadioButton("gender", "Female")
                                    Other @Html.RadioButton("gender", "Other")
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber)
                                <div>
                                    @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                <div>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" ,@id="PassErr"})
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            Already Registerd?&nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#loginmodal"><button type="button" id="login" class="btn btn-info">Log In</button></a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Sign Up" id="signup" class="btn btn-primary" />
                        @*<a href=@Url.Action("dashboard")><button type="button" class="btn btn-info" >Sign Up</button></a>*@
                    </div>
                </div>
            </div>
        </div>

}

