@model IEnumerable<easylife.Core.Entities.Product>
@{
    ViewBag.Title = "EasyLife | SearchProducts";
}
<link href="~/Styles/Style_user.css" rel="stylesheet" />
<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index")><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a class="active"><i ></i>Search</a></li>
						
						
						</ol>
					</div>
					
					
					
					<div class="container-fluid well ">
						
						<div class="dropdown col-md-2">
						    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Advance Search
							<span class="caret"></span></button>
						    <ul class="dropdown-menu">
								<li><a href="#"> <span class="glyphicon glyphicon-sort"></span> Sort by highest price</a></li>
								<li><a href="#"> <span class="glyphicon glyphicon-sort"></span> Sort by lowest price </a></li>
								<li><a href="#"> <span class="glyphicon glyphicon-sort"></span>Sort By newest</a></li>
								<li><a href="#"> <span class="glyphicon glyphicon-sort"></span> Sort By Rating </a></li>
								<li><a href="#">  <span class="glyphicon glyphicon-sort"></span> Sort By Top Sale</a></li>
							</ul>
						</div>
						<div class="container col-md-8">
							<div class="""slidecontainer">
						  <input type="range" min="100" max="10000" value="500" class="slider" id="myRange">
						 
						</div>
						
						</div>
						<div class="container col-md-2">
							<p>Prize Max: <span id="demo"></span></p>
						</div>
						
						
					</div>					
					</br>
					</br>
					        <script>
								var slider = document.getElementById("myRange");
								var output = document.getElementById("demo");
								output.innerHTML = slider.value;

								slider.oninput = function() {
								  output.innerHTML = this.value;
									}
							</script>
					
					
					 @{
                      
                           
                           @Html.Raw("<div class=\"container-fluid well\">")
                         
                           foreach (var item in Model) 
                           {
                               <div class="container-fluid col-md-3">
							    <a href=@Url.Action("details", new {id=item.ProductId })>@Html.Raw(String.Format("<img class=\"img-thumbnail img2\" src=\"/resources/{0}.jpg\">",item.ProductId))</a>
							    <div style="text-align:center ;">
								    <p>@item.ProductName</p>
								    <p>@item.SellingPrice $</p>
								    <p>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:#FFDF00"></span>
									<span id="viewed" class="glyphicon glyphicon-star" style="font-size: 20px;color:gray"></span>
								</p>
								    <p><a href=@Url.Action("details", new { id = @item.ProductId})><button type="button" class="btn btn-info" >Buy</button></a></p>
							    </div>

						        </div>
                           }
                           
                            
                               @Html.Raw("</div> ")
                            
       
                    }