@model easylife.Models.UserHomeViewModel.shoppingCartViewModel
@{
    ViewBag.Title = "EasyLife | Details| shoppingCart";
}
<div  style="height:700px;" >

    
						
						
					<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index") ><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("search") >Search</a></li>
						<li><a  href=@Url.Action("details", new {id=ViewBag.detailId })>Details</a></li>
						<li><a  class="active">Shopping Cart</a></li>
						
						</ol>
					</div>
						
						
						
						<div class="container-fluid">
							
							
						<table class="table table-striped ">
								
								<tbody>
									<tr>
										
										<th>Product Image</th>
										<th>Name</th>
										<th>Quantity</th>
										<th >Price</th>
										<th ></th>
										
										
									</tr>
									
									<tr>
										<td> <a href=@Url.Action("details")><img class="img-circle user" src="~/resources/1.jpg"></a></td>

										

										<td>Kakashi T-Shirt</td>
										<td><input type="number" value="1"></input></</td>

										<td>1</td>
										<td><a data-toggle="modal" data-target="#deleteModal" ><span class="glyphicon glyphicon-trash point" title="Remove"></span></a></td>
										
									</tr>
									<tr>
										<td> <a href=@Url.Action("details")><img class="img-circle user" src="~/resources/2.jpg"></a></td>

										
										<td>Kakashi T-Shirt</td>
										<td><input type="number" value="1"></input></</td>

										<td>1</td>
										<td><a data-toggle="modal" data-target="#deleteModal" ><span class="glyphicon glyphicon-trash point" title="Remove"></span></a></td>
										
									</tr>
									<tr>
										<td> <a href=@Url.Action("details")><img class="img-circle user" src="~/resources/3.jpg"></a></td>

									

										<td>Kakashi T-Shirt</td>
										<td><input type="number" value="1"></input></</td>

										<td>1</td>
										<td><a data-toggle="modal" data-target="#deleteModal" ><span class="glyphicon glyphicon-trash point" title="Remove"></span></a></td>
										
									</tr>
									
									
								</tbody>
							</table>
						
							
						
					</div>	
					</br>
					</br>
					</br>
					</br>
					</br>
					
					<div class="container-fluid">
							
							
						<table class="table table-striped ">
								
								<tbody>
									<tr>
										
										<th>Product cost</th>
										<th>Shipping Cost</th>
										<th>Total</th>
										
										
										
									</tr>
									
									<tr>
										<td>$450</td>
										<td>$50</td>
										<td>$500</td>
										
										
									</tr>
                                    <tr>
										
										<th><button type="button" class="btn btn-info" >Use Cupon Code</button></th>
										<th><input type="text"></th>
										<th></th>		
										
										
										
										
									</tr>
									<tr>
										<td colspan="3"><p><a href=@Url.Action("confirmOrder")><button type="button" class="btn btn-info" >Confirm</button></a></p></td>
										
										
										
									</tr>
									
									
								</tbody>
							</table>
					
							
						
					</div>	
					

				
				
				</div>

@section Signup{
                
             @using(Html.BeginForm("SignUp", "UserHome", FormMethod.Post))
            {
			        <div class="modal fade" id="signupModal" role="dialog" style="padding-top:50px;">
			        <div class="modal-dialog modal-sm">
				        <div class="modal-content">
					
					        <div class="modal-body" >
						
						        <div class="box-body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model=> model.Name)
                                            <div>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model=> model.Email)
                                            <div>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model=> model.Gender)
                                            <div>
                                                Male @Html.RadioButton("gender","Male")
                                                Female @Html.RadioButton("gender","Female")
                                                Other @Html.RadioButton("gender","Other")
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                            <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber)
                                            <div>
                                                @Html.EditorFor(model => model.PhoneNumber, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password)
                                            <div>
                                                @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
					                <div class="box-footer">
                                        Already Registerd?&nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#loginmodal"><button type="button" id="login" class="btn btn-info" >Log In</button></a>
                                    </div>
						
					        </div>
					        <div class="modal-footer">
						        <input type="submit" value="Sign Up" class="btn btn-primary" />
                                @*<a href=@Url.Action("dashboard")><button type="button" class="btn btn-info" >Sign Up</button></a>*@
					        </div>
				        </div>
			        </div>
		        </div>
            }   
    
     }
				
			