@model easylife.Models.AdminViewModel.MemberView
@{
    ViewBag.Title = "Add_Member";
}

<style>
            .w3-animate-bottom
                        {   overflow: scroll;
                            overflow-x: hidden;
	                        position:relative;animation:animatebottom 0.4s;

                         } 
            keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
                                                                                                                      }
	
	        ::-webkit-scrollbar 
            {
                width: 0px; 
                background: transparent; 
            }
    .button {background-color:lightgray;
    }
    th {color:black;font-weight: bold;
    }
</style>

<body class="w3-light-grey w3-animate-bottom ">

<div class="invoice" style="width:800px;background-color:whitesmoke">
		
   
            
			<div class="invoice-wrapper">
				
				<div class="invoice-wrap">
				<div style="text-align:center;color:black;" class="ba"><h3>Add Member</h3></div>
				
					<div class="desc" style="margin-left:225;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
						
						<table class="reg" >
                               
						<tr>			
							<th>@Html.LabelFor(model => model.Name)</th>
							<td>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger",@id="NameErr" })
                            </td>
						</tr>
							
						<tr>
							<th>@Html.LabelFor(model => model.Email)</th>
							<td>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                               <font color="red"> @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger",@id="EmailErr" })</font>
                            </td>
							
						</tr>
							
						<tr>
							<th>@Html.LabelFor(model => model.Password)</th>
							<td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger",@id="PassErr" })
                            </td>
							
						</tr>
							
						<tr>
							<th>@Html.LabelFor(model => model.Password)</th>
							<td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger",@id="PassErr" })
                            </td>
							
						</tr>
						<tr>
							<th>Gender:</th>
							<td>
                                @Html.RadioButton("gender", "Male") Male 
                                @Html.RadioButton("gender", "Female") Female 
                                @Html.RadioButton("gender", "Other") Other 
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </td>
						</tr>
							
						<tr>
							<th>Cell No:</th>
							<td>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </td>
							
						</tr>
						<tr>
                               
						<th>Position:</th>
						<td>
                            @Html.RadioButton("Type", "0") User
                            
                            @Html.RadioButton("Type", "1") Admin 
                           
                            @Html.RadioButton("Type", "2") Stock Executive 
                           <br>
                            @Html.RadioButton("Type", "3") Delivery Man
                            
                            @Html.RadioButton("Type", "4") Order Executive 
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                 
						</td>
						</tr>
							
						<tr>
							<th>Status:</th>
								<td>
                                    @Html.RadioButton("Status", "1") Active
                                    @Html.RadioButton("Status", "0") Blocked 
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
								</td>
						</tr>
							
						<tr>
							<td>
							    <button class="button" id="signup" value="Confirm" onclick="signup()">Confirm</button>
							</td>
							<td>
						        <a href="@Url.Action("Dashboard")"><button class="button">Cancel</button></a>
						    </td>
						
						</tr>
						
					</table>
				
					</div>
				
				</div>
				   
				
			</div>
          
	</div>
		

    <script>
        function confirmm() {
            var txt;
            if (confirm("Add This Member?")) {
               // alert("Succesful");
                //alert(Model.member.Name);
              window.open('@Url.Action("View_Profile_Admin")', '_self');
		
            } else {
                txt = "You pressed Cancel!";
            }
            document.getElementById("demo").innercshtml = txt;
        }
    </script>

    @* -------------SignUp------------------*@
        <script>

            $("#signup").click(function () {
                var signupValid = true;
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

                if ($("#Name").val() == "") {
                    $("#NameErr").text("*Required");
                    signupValid = false;
                }
                else {
                    $("#NameErr").text("");
                }

                if ($("#Email").val() == "") {
                    $("#EmailErr").text("*Required");
                    signupValid = false;
                }
                else {
                    if (!emailReg.test($("#Email").val())) {
                        $("#EmailErr").text("Invalid Email");
                        signupValid = false;
                    }
                    else {
                        $("#EmailErr").text("");
                    }


                }

                if ($("#Password").val() == "") {
                    $("#PassErr").text("*Required");
                    signupValid = false;
                }
                else {
                    $("#PassErr").text("");
                }
                //alert("Handler for .submit() called.");

                if (signupValid) {

                    var email = $("#Email").val(), name = $("#Name").val(), Gender = $("#gender").val(), PhoneNumber = $("#PhoneNumber").val(), password = $("#Password").val(),type=$("#Type").val(),status=$("#Status").val();

                    $.ajax({

                        method: "POST",

                        data: { 'Name': name, 'Email': email, 'Gender': Gender, 'PhoneNumber': PhoneNumber, 'Password': password,'Type':type,'Status':status },
                        url: "@Url.Action("Add_Member", "Admin")",
                        success: function (data) {
                           
                                window.location = '@Url.Action("Dashboard", "Admin")'

	                },
                        error: function () { alert("error") }
                    });

        }

                // event.preventDefault();



            });
        </script>
</body>