@model easylife.Core.Entities.Member
@{
    ViewBag.Title = "Edit Profile Admin";
}
<meta name="viewport" content="width=device=width,initial-scalw=1,user-scalable=no">

		
<style>
.w3-animate-bottom{overflow: scroll;
    overflow-x: hidden;
	position:relative;animation:animatebottom 0.4s}keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
	
	::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
</style>
		
<body class="w3-animate-bottom ">
<div class="invoice" style="width:800px;background-color:lightskyblue">
		
			
				
@using (Html.BeginForm("Edit_Profile_Admin", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

				<div class="invoice-wrapper">
				
				
					<div class="invoice-wrap">
					<div style="text-align:center;color:black;" class="ba"><h3>Edit Profile</h3></div>
				
						<div class="desc" style="margin-left:225;">
						
						
							<table class="reg" >
						
							<tr>
							
								<th>Name:</th>
								<td>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
							
							<tr>
							
								<th>Gender:</th>
								<td>
                                    @Html.RadioButton("gender", "Male") Male
                                    @Html.RadioButton("gender", "Female") Female
                                    @Html.RadioButton("gender", "Other") Other
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
							
							<tr>
							
								<th>Cell No:</th>
								<td>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
							<tr>
							
								<th>Position:</th>
								<td>
                                    @Html.RadioButton("Type", "Admin") Admin
                                    <hr />
                                    @Html.RadioButton("Type", "Stock Executive") Stock Executive
                                    <hr />
                                    @Html.RadioButton("Type", "Delivery Man") Delivery Man
                                    <hr />
                                    @Html.RadioButton("Type", "Other") Order Executive
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
								</td>
							</tr>
							
							<tr>
							<td>
							<button class="button" onclick="confirmm()">Confirm</button>
							</td>
							<td>
						<a href="@Url.Action("Dashboard")"><button class="button">Cancel</button></a>
						</td>
						
							</tr>
						
						</table>
						
						
							
						
						</div>
						
						
					   
				   
				   </div>
				   
				   
				 
					   
					 
				   
				   </div>
}

		</div>
		
		<script>
function confirmm() {
    var txt;
    if (confirm("Save Changes?")) {
        alert("Succesful");
		window.open('@Url.Action("View_Profile_Admin")','_self');
		
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innercshtml = txt;
}
</script>
</body>