@model easylife.Models.AdminViewModel.MemberView
@{
    ViewBag.Title = "Edit profile Delivery Man";
}
<meta name="viewport" content="width=device=width,initial-scalw=1,user-scalable=no">

		
<style>
.w3-animate-bottom{overflow: scroll;
    overflow-x: hidden;
	position:relative;animation:animatebottom 0.4s}keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
	
	::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
</style>
		
<body class="w3-animate-bottom ">
<div class="invoice" style="width:800px;background-color:lightskyblue">
		
				<div class="invoice-wrapper">
				
					<div class="invoice-wrap">
					<div style="text-align:center;color:black;" class="ba"><h3>Edit Profile</h3></div>
				
						<div class="desc" style="margin-left:225;">
						
						
							<table class="reg" >
						    <tr>
							
								<th>Memeber ID:</th>
								<td><label>@Model.member.MemberId</label></td>
							
							</tr>
							<tr>
							
								<th>Name:</th>
								<td>
                                    @Html.EditorFor(model => model.member.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.member.Name, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
							
							<tr>
							
								<th>Gender:</th>
								<td>
                                    @Html.RadioButton("gender", "Male") Male
                                    @Html.RadioButton("gender", "Female") Female
                                    @Html.RadioButton("gender", "Other") Other
                                    @Html.ValidationMessageFor(model => model.member.Gender, "", new { @class = "text-danger" })
                                </td>
							</tr>
							
							<tr>
							
								<th>Cell No:</th>
								<td>
                                    @Html.EditorFor(model => model.member.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.member.PhoneNumber, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
							<tr>
							
								<th>Availaibility:</th>
								<td>
                                    @Html.RadioButton("position", "Availaible") Availaible
                                    @Html.RadioButton("position", "On vacation") On vacation
                                    @Html.ValidationMessageFor(model => model.member.Gender, "", new { @class = "text-danger" })
								
								</td>
							</tr>
                                <tr>
							
								<th>Delivery Zone:</th>
								<td>
                                    @Html.EditorFor(model => model.member.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.member.PhoneNumber, "", new { @class = "text-danger" })
                                </td>
							
							</tr>
                               
							
						<tr>
							<td>
							<button class="button" onclick="confirmm()">Confirm</button>
							</td>
							<td>
						<a href=@Url.Action("View_Profile_Delivery_Man")><button class="button">Cancel</button></a>
						</td>
						
							</tr>
						
						</table>
						
						
							
						
						</div>
						
						
					   
				   
				   </div>
				   
				   
				 
					   
					 
				   
				   </div>
				   
				   
		</div>
		
		<script>
function confirmm() {
    var txt;
    if (confirm("Save Changes?")) {
        alert("Succesful");
        window.open('@Url.Action("View_Profile_Delivery_Man")', '_self');
		
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innercshtml = txt;
}
</script>
</body>