@model easylife.Models.AdminViewModel.MemberViewModel
@{
    ViewBag.Title = "View_Users";
}
<style>
      cshtml,body,h1,h2,h3,h4,h5 {font-family: 'Times New Roman', Times, serif}
         
          table {
			        border-collapse: collapse;
			        width: 100%;
			    }
			
      tr:hover {

                 background-color:gray;

                }
            
      .comboBox {
  
                  border-radius: 4px;
                  background-color: #fffff;
                  border: none;
                  color: black;
                  text-align: center;
                  font-size:15px;
                  width: 120px;
                  height: 30px;
                  border-radius:10px;
                  transition: all 0.5s;
                  cursor: pointer;
                  margin: 5px;
                }
        h3  {
                text-align:center;
            }

</style>

	<div >
					

        @using (Html.BeginForm("View_Users", "Admin", FormMethod.Post))
        {
            <select id="search by" class="comboBox" @Html.DropDownList("Searchby", new SelectList(new[] { "Any", "Name", "Email", "Type" }))
                    @Html.TextBox("searching")<input class="button" type="submit" value="Search" />
               }
	</div>

<body class="w3-animate-bottom">
	
  <!--for demo wrap-->
 
      <h1 style="color:	yellow">Users</h1>
      <h3 style="color:	yellow">Total User(s) Found: @Model.UserCount</h3>
      <section class="w3-card-4">
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
		      <th>Total Purchase</th>
              <th>Last Active</th>
		      <th>Status</th>
		      <td></td>
               <td></td>
            </tr>
          </thead>
        </table>
      </div>
 
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
	      @foreach (var item in Model.Members)
          {
              if (item.Type == "0")
              {
                <tr onclick="location.href='@Url.Action("View_Profile_User", new { id = item.MemberId })'">
                  <td>@Html.DisplayFor(modelItem => item.MemberId)</td>
                  <td>@Html.DisplayFor(modelItem => item.Name)</td>
		          <td>@Html.DisplayFor(modelItem => item.Email)</td>
                  <td style="padding-left:50px">@Html.DisplayFor(modelItem => item.TotalPurchase)</td>
                  <td>@Html.DisplayFor(modelItem => item.LastLoggedIn)</td>
                  @{if (item.Status == "1")
                      {
                    <td>Active</td>
                      }
                      else
                      {
                    <td>Block</td>
                      }
                      }

                  <td><a href='@Url.Action("Send_Mail")'><img height="30" width="30" src="~/resources/mail.jpg" /></a></td>
                  <td><a href=@Url.Action("Set_Coupon", new { id = item.MemberId})><img height="30" width="30" src="~/resources/cupon.jpg" /></a></td>
                </tr>
              }
          }


              <!-- <td><a href="View_Profile.cshtml">View</a></td> -->
              <!-- <td><a href="Edit_Profile.cshtml">Edit</a></td> -->
              <!-- <td><a href="Delete_Profile.cshtml">Delete</a></td> -->
		<!--<tr onclick="location.href='@Url.Action("View_Profile_User")'">
          <td>2</td>
          <td>Rajesh Saha</td>
          <td>rajesh@gmail.com</td>
		  <td>234</td>
          <td>3 Month(s) Ago</td>
		  <td>Blocked</td>
            <td><a href='@Url.Action("Send_Mail")'><img height="30" width="30" src="~/resources/mail.jpg" /></a></td>
             <td><a href='@Url.Action("Set_Cupon")'><img height="30" width="30" src="~/resources/cupon.jpg" /></a></td>
        </tr>
		<tr onclick="location.href='@Url.Action("View_Profile_User")'">
          <td>3</td>
          <td>Rakibul Hossain</td>
          <td>rakib@gmail.com</td>
		  <td>1879</td>
          <td>1 Year(s) Ago</td>
		  <td>Active</td>
            <td><a href='@Url.Action("Send_Mail")'><img height="30" width="30" src="~/resources/mail.jpg" /></a></td>
             <td><a href='@Url.Action("Set_Cupon")'><img height="30" width="30" src="~/resources/cupon.jpg" /></a></td>
        </tr >
		<tr onclick="location.href='@Url.Action("View_Profile_User")'">
          <td>4</td>
          <td>Reza Ul Karim</td>
          <td>reza@gmail.com</td>
		  <td>2134</td>
          <td>1 Year(s) Ago</td>
		  <td>Blocked</td>
            <td><a href='@Url.Action("Send_Mail")'><img height="30" width="30" src="~/resources/mail.jpg" /></a></td>
             <td><a href='@Url.Action("Set_Cupon")'><img height="30" width="30" src="~/resources/cupon.jpg" /></a></td>
        </tr>-->

        
      </tbody>
    </table>
  </div>
</section>

<!-- <script> -->
	<!-- $(window).on("load resize ", function() { -->
  <!-- var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width(); -->
  <!-- $('.tbl-header').css({'padding-right':scrollWidth}); -->
<!-- }).resize(); -->
<!-- </script> -->
</body>