@model easylife.Models.AdminViewModel.OrdersViewModel
@{
    ViewBag.Title = "View_Orders";
}

<style>
        cshtml,body,h1,h2,h3,h4,h5 {font-family: 'Times New Roman', Times, serif}
             table{
			            border-collapse: collapse;
			            width: 100%;
			      }
         tr:hover {    background-color:darkgray;}
         .comboBox {
                      border-radius: 4px;
                      background-color: #fffff;
                      border: none;
                      color: black;
                      text-align: center;
                      font-size:15px;
                      width: 120px;
                      height: 30px;
                      border-radius:10px;
                      transition: all 0.5s;
                      cursor: pointer;
                      margin: 5px;
                    }

                h3 {
                        text-align:center;
                    }
</style>

	<div >
        @using (Html.BeginForm("View_Orders", "Admin", FormMethod.Post))
            {
            <select id="search by" class="comboBox" @Html.DropDownList("Searchby", new SelectList(new[] { "Any", "Product Code", "Invoice Code" }))
                    @Html.TextBox("searching")<input class="button" type="submit" value="Search" />
             }
	</div>

<body class="w3-animate-bottom">
	
  <!--for demo wrap-->

  <h1>Orders</h1>
    <h3>Total Order(s) Found: @Model.TotalOrder</h3>
  <section class="w3-card-4">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Order Code</th>
          <th>Product</th>
          <th>Product Name</th>
		  <th>Quantity</th>
          <th>Invoice Id</th>
          <th>Order Placed</th>
		  
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content" style="background-color:white">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          @{var count=0;}

          @foreach (var item in Model.Orders)
          {
              <tr>
                <td>@item.OrderId</td>
                <td onclick="location.href='@Url.Action("View_Product_Details", new {id=item.ProductId})'">@Html.Raw(String.Format("<img class=\"img-circle user\" src=\"/resources/{0}.jpg\">", item.ProductId))</td>
                <td onclick="location.href='@Url.Action("View_Product_Details", new {id=item.ProductId})'">@Model.Products[count].ProductName</td>
                <td>@item.Quantity</td>
                <td onclick="location.href='@Url.Action("View_Invoice", new { id = item.InvoiceId })'">@item.InvoiceId</td>
		        <td>@item.SellingDate</td>
          
        
              </tr>
              count++;
          }
      
        



        <!--
          <tr>
          <td>2</td>
          <td><a ref='@Url.Action("View_Product_Details")'">2</a></td>
          <td><a href='@Url.Action("View_Invoice")'">1</a></td>
		  <td>2017-12-28</td>
          <td>Women Hoody</td>
          <td>Pending</td>
          <td>Not Paid</td>
        </tr>
		<tr>
          <td>3</td>
          <td><a href='@Url.Action("View_Product_Details")'">3</a></td>
          <td><a href='@Url.Action("View_Invoice")'">1</a></td>
		  <td>2017-12-28</td>
          <td>Long Tunik</td>
          <td>Pending</td>
          <td>Paid</td>
        </tr>
		<tr>
          <td>4</td>
          <td><a href='@Url.Action("View_Product_Details")'">4</a></td>
          <td><a href='@Url.Action("View_Invoice")'">2</a></td>
		  <td>2017-12-28</td>
          <td>Embrodari panjabi</td>
          <td>Delivered</td>
          <td>Paid</td>
        </tr>
        -->  
      </tbody>
    </table>
  </div>
</section>

<!-- <script> -->
	<!-- $(window).on("load resize ", function() { -->
  <!-- var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width(); -->
  <!-- $('.tbl-header').css({'padding-right':scrollWidth}); -->
<!-- }).resize(); -->
<!-- </script> -->
</body>

</cshtml>


