@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="icon" href="~/resources/logo.ico" type="image/x-icon" />
        </head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
@*<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" type="text/css" href="css/style.css">*@

@*<link href="~/Styles/Style.css" rel="stylesheet" />
<link href="~/Styles/w3.css" rel="stylesheet" />
<link href="~/Styles/table.css" rel="stylesheet" />
<link href="~/Styles/AdminLTE.min.css" rel="stylesheet" />*@@* for treeview*@
    @Styles.Render("~/Admin")

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

<script src="~/Styles/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: Arial, sans-serif;
                              text-decoration:none;
}
.a1
    { color:lightgray;
    }
    .a1:hover {
        color: white;
    }
    .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align:baseline;
  border-radius: 0.25rem;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}


</style>
<body class="" style="background:whitesmoke">
<aside class="main-sidebar">
<!-- Top container -->
<div class="w3-bar w3-top w3-card-4 w3-large" style="z-index:4;background-color:#151515">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-dark-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item" style="font-family:Calibri;font-size:x-large;color:whitesmoke"><a class="navbar-brand a1"  href=@Url.Action("Dashboard",new { id=Convert.ToInt32(Session["userId"])})>Easylife</a></span>
  <span class="w3-bar-item  w3-right" style="padding-top:15px"><a class="a1" style="padding-right:50px"  href=@Url.Action("View_Reports")><i class="fa fa-clipboard w3-xlarge"  title="@Model.ReportCount Report(s)"></i>&nbsp <span class="w3-badge w3-red badge w3-small">@Model.ReportCount</span></a><a class="a1" style="padding-right:50px" href=@Url.Action("View_Profile_Admin",new { id=Convert.ToInt32(Session["userId"])}) ><span class="fa fa-user" style="font-size:x-large" ></span>&nbsp @Session["userName"]</a>
       <a class="a1" style="padding-right:50px" href=@Url.Action("Logout")><i class="fa fa-sign-out w3-xlarge"></i>&nbsp Logout </a> <!--<i class="fa fa-tasks fa-fw w3-hover-shadow "><div class="notification">1</div></i></span>-->
</div>

<!-- Sidebar/menu -->
  

<nav class="w3-sidebar w3-collapse ba1 w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    
    <div class="w3-col  w3-bar">
      <span><h3>Welcome, <strong>@Session["userName"]</strong></h3></span>
      
    </div>
  </div >
  <div class="w3-container" id="menu">
        
  <ul class="sidebar-menu" data-widget="tree">
        
        <li class="treeview" >
          <a href="#"><h4 style="color:black" ><i class="fa fa-address-card fa-fw"></i> <span>Account</span></h4>
           <span class="pull-right-container" >
                <i  style="color:black"  class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=@Url.Action("Dashboard") style="color:black"  class=" w3-blue" ><i class="fa fa-dashboard fa-fw"></i>  DashBoard</a></li>
					<li><a href='@Url.Action("Edit_Profile_Admin", new { id=Convert.ToInt32(Session["userId"])})' style="color:black" ><i class="fa fa-cog fa-fw"></i>  Edit Profile</a></li>
					<li><a href='@Url.Action("View_Profile_Admin", new { id=Convert.ToInt32(Session["userId"])})'  style="color:black"  ><i class="fa fa-eye fa-fw"></i>  View Profile</a></li>
					<li><a href=@Url.Action("Change_Password",new { id=Convert.ToInt32(Session["userId"])}) style="color:black"  ><i class="fa fa-lock fa-fw"></i>  Change Password</a></li>
          </ul>
        </li>
      <li class="treeview">
          <a href="#"><h4 style="color:black"><i class="fa fa-registered fa-fw"></i> <span>Registar</span></h4>
            <span class="pull-right-container" >
                <i  style="color:black"  class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
                    <li><a href=@Url.Action("Add_Member")   style="color:black"><i class="fa fa-user fa-fw"></i>  Add Member</a></li>
					<li><a href=@Url.Action("Add_Product")   style="color:black"><i class="fa fa-product-hunt fa-fw"></i>  Add Product</a></li>
		    </ul>
        </li>

      <li class="treeview">
          <a href="#"><h4 style="color:black"><i class="fa fa-product-hunt fa-fw"></i> <span>Product Info</span></h4>
            <span class="pull-right-container" >
                <i  style="color:black"  class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
                    <li><a href=@Url.Action("View_Products")   style="color:black"><i class="fa fa-product-hunt fa-fw"></i>  View Product</a></li>
					<li><a href=@Url.Action("View_Invoices")   style="color:black"><i class="fa fa-list-alt fa-fw"></i>  View Invoices</a></li>
					<li><a href=@Url.Action("View_Orders")   style="color:black"><i class="fa fa-list fa-fw"></i>  View Orders</a></li>
					<li><a href=@Url.Action("View_Stock")   style="color:black"><i class="fa fa-list fa-fw"></i>  View Stock</a></li>
                     <li><a href=@Url.Action("Profit_graph")   style="color:black"><i class="fa fa-list fa-fw"></i> View Statistic</a></li>
		    </ul>
        </li>


      <li class="treeview">
          <a href="#"><h4 style="color:black"><i class="fa fa-user fa-fw"></i> <span>Member Info</span></h4>
           <span class="pull-right-container" >
                <i  style="color:black"  class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
                    <li><a href=@Url.Action("View_Members")  style="color:black"><i class="fa fa-user fa-fw"></i>  View Admins</a></li>
                    <li><a href=@Url.Action("View_Users")   style="color:black"><i class="fa fa-users fa-fw"></i>  View Users</a></li>
                    <li><a href=@Url.Action("View_Delivery_Man") style="color:black" ><i class="fa fa-list fa-fw"></i>  View Delivery Man</a></li>

                     
				</ul>
        </li>
      <li class="treeview">
          <a href="#"><h4 style="color:black"><i class="fa fa-camera fa-fw"></i> <span>Slider</span></h4>
            <span class="pull-right-container" >
                <i  style="color:black"  class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
                    <li><a href=@Url.Action("Update_Slider")   style="color:black"><i class="fa fa-arrow-circle-up fa-fw"></i>  Slider Update</a></li>
					<li><a href=@Url.Action("Advertise")   style="color:black"><i class="fa fa-arrow-circle-up fa-fw"></i>  Advertisement</a></li>
				</ul>
        </li>

      </ul>
   </aside>

  @*<ul class="sidebar-menu" style="padding:5px">
					
			<li ><h4><a href="#" ><i class="fa fa-address-card fa-fw "></i> <span class="sub-arrow">Account</h4></span></a>
				<ul  style="padding-left:20px">
					<li><a href=@Url.Action("Dashboard")  class="w3-bar-item w3-button  w3-padding w3-blue" ><i class="fa fa-dashboard fa-fw"></i>  DashBoard</a></li>
					<li><a href=" Edit_Profile_Admin"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Edit Profile</a></li>
					<li><a href=" View_Profile_Admin"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  View Profile</a></li>
					<li><a href=" Change_Password"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-lock fa-fw"></i>  Change Password</a></li>
				</ul>
			</li>
			<li ><h4><a href="#" ><i class="fa fa-registered fa-fw"></i> Registar<span class="sub-arrow"></h4></span></a>
				<ul    style="padding-left:20px">
					<li><a href=" Add_Member"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  Add Member</a></li>
					<li><a href=" Add_Product"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-product-hunt fa-fw"></i>  Add Product</a></li>
				</ul>
			</li>
			<li ><h4><a href="#" ><i class="fa fa-eye fa-fw"></i> View<span class="sub-arrow"></h4></span></a>
				<ul   style="padding-left:20px">
					<li><a href=" View_Admins"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  View Admins</a></li>
					<li><a href=" View_Products"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-product-hunt fa-fw"></i>  View Product</a></li>
					<li><a href=" View_Users"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  View Users</a></li>
					<li><a href=" View_Invoices"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-list-alt fa-fw"></i>  View Invoices</a></li>
					<li><a href=" View_Orders"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-list fa-fw"></i>  View Orders</a></li>
					<li><a href=" View_Stock"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-list fa-fw"></i>  View Stock</a></li>
				</ul>
			</li>
			<li ><h4><a href="#" ><i class="fa fa-camera fa-fw"></i> Slider<span class="sub-arrow"></h4></span></a>
				<ul   style="padding-left:20px">
					<li><a href=" Update_Slider"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-arrow-circle-up fa-fw"></i>  Slider Update</a></li>
					<li><a href=" Advertise"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-arrow-circle-up fa-fw"></i>  Advertisement</a></li>
				</ul>
			</li>	
            	
	</ul>*@
	</div>
</nav>


<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:350px;margin-top:43px;">
<br/>
	@*<iframe id="frame" name="contentFrame" frameborder="0" width="95%" height="585px" src=" Dashboard"></iframe>*@
    @RenderBody()
</div>

<script>

    var heigh = window.innerHeight * 0.9;

    document.getElementById("frame").height = heigh;

    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }

    $('li').on('click', function (e) {

        if ($(this).hasClass('hover')) {
            $('li').removeClass('hover');
            $(this).removeClass('selected');
        }

        else {
            // remove .hover class from all other elements
            $('li').removeClass('hover');

            // apply it to the current element
            $(this).addClass('hover');
            $(this).addClass('selected');
        }
    });


</script>
    <script src="~/Styles/adminlte.min.js"></script>
    <script src="~/Styles/jquery.min.js"></script>
</body>
</html>
