@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    @*<link rel="icon" type="image/png" href="~/resources/logo.jpg"/>*@
    <link rel="icon" href="~/resources/logo.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    @* <link href="~/Styles/Style_user.css" rel="stylesheet" />
        <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />

        <link href="~/Styles/easyzoom.css" rel="stylesheet" />*@

    @Styles.Render("~/UserHome")

    <script src="~/Styles/adminlte.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body>






    <!-- navigation bar-->

    <nav class="navbar navbar-inverse" data-spy="affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=@Url.Action("index")>Easylife</a>

            </div>

            <form class="navbar-form navbar-right" action=@Url.Action("search")>
                <div class="input-group input-group1 ">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>

                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav pull-right pull-right1">
                @if (Session["userId"] == null)
                {
                    <li class="point"><a data-toggle="modal" data-target="#signupModal" id="login1"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li class="point"><a data-toggle="modal" data-target="#loginmodal" id="signup1"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
                @if (Session["userId"] != null)
                {
                    <li class="point"><a href=@Url.Action("Dashboard","UserDashboard")><span class="glyphicon glyphicon-user"></span>@Model.Name</a></li>
                        <li class="point"><a href=@Url.Action("Logout")><span class="glyphicon glyphicon-log-out" title="Log out"></span></a></li>
                        <li><a href=@Url.Action("shoppingCart")><span class="glyphicon glyphicon-shopping-cart glyphicon1 " data-toggle="tooltip" title="Total items = @Model.totalProductInCart "></span><span class="badge">item(@Model.totalProductInCart)</span></a></li>
                }


            </ul>
        </div>
    </nav>






    <div class="container-fluid">

        <!-- Left side bar-->


        <div class="row">

            <div class="col-md-3">

                <div class="panel-group" id="accordion">




                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">

                                <a data-parent="#accordion" href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span>  Home</a>
                            </h4>
                        </div>
                        <div id="" class="panel-collapse collapse">
                            <div class="panel-body"></div>
                        </div>
                    </div>


                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Mens Wear</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Mens Wear", subcategory = "Shirt" })>Shirt</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Mens Wear", subcategory = "Pant" })>Pant</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Mens Wear", subcategory = "Panjabi" })>Panjabi</a>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Womens Wear</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Womens Wear", subcategory = "Saree" })>Saree</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Womens Wear", subcategory = "Salwar" })>Salwar</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Womens Wear", subcategory = "Three-Piece" })>Three-Piece</a>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Kids Wear</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Kids Wear", subcategory = "Shirt" })>Shirt</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Kids Wear", subcategory = "Shirt" })>Pant</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Kids Wear", subcategory = "T-Shirt" })>T-Shirt</a>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">FootWear</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "FootWear", subcategory = "Men" })>Men</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "FootWear", subcategory = "Women" })>Women</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "FootWear", subcategory = "Kids" })>Kids</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Accessories</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Accessories", subcategory = "Watch" })>Watch</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Accessories", subcategory = "Handbag" })>Handbag</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Accessories", subcategory = "Sunglass" })>Sunglass</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("catagory", new { category = "Accessories", subcategory = "Jewelery" })>Jewelery</a>
                            </div>

                        </div>

                    </div>

                    <div class="panel panel-default">


                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Brands</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "easy" })>Easy</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "yellow" })>Yellow</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "arong" })>AArong</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "ectasy" })>Ecstasy</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "bata" })>Bata</a>
                            </div>
                            <div class="panel-body">
                                <a href=@Url.Action("brand", new { brand = "apex" })>Apex</a>
                            </div>

                        </div>

                    </div>



                </div>
            </div>
            <!--End  Left side bar-->
            <!-- Body-->

            <div class="col-md-9">



                @RenderBody()



            </div>


        </div>

        <!-- footer-->

        <div class="container-fluid footer jumbotron">


            <div class="container-fluid col-md-3">
                <ul>
                    <h4>Information</h4>
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="contactus">Conatct US</a></li>
                </ul>


            </div>

            <div class="container-fluid col-md-3">
                <ul>
                    <h4>Contact Us</h4>
                    <li><a href="securitypolicy">Security Policy</a></li>
                    <li><a href="privacypolicy">Privacy Policy</a></li>
                    <li><a href="shippingandreplacement">Shipping and Replacement</a></li>
                    <li><a href="termsofuse">Terms Of Use</a></li>
                </ul>


            </div>

            <div class="container-fluid col-md-3">
                <ul>
                    <h4>My Account</h4>

                    @if (Session["useId"] != null)
                    {
                        <li><a href=@Url.Action("Dashboard","UserDashboard") class="point">Personal Information</a></li>
                        <li><a href=@Url.Action("myOrders", "UserDashboard", new { id=Convert.ToInt32(Session["userId"])}) class="point">Orders</a></li>
                        <li><a href=@Url.Action("reports") class="point">Report</a></li>
                        <li><a href=@Url.Action("trackProduct") class="point">Track Product</a></li>
                        <li><a href=@Url.Action("shoppingCart") class="point">Shopping Cart</a></li>
                    }

                    @if (Session["useId"] == null)
                    {
                        <li><a data-toggle="modal" data-target="#loginmodal" class="point">Personal Information</a></li>
                        <li><a data-toggle="modal" data-target="#loginmodal" class="point">Orders</a></li>
                        <li><a href=@Url.Action("reports") class="point">Reports</a></li>
                        <li><a href=@Url.Action("trackProduct") class="point">Track Product</a></li>
                        <li><a data-toggle="modal" data-target="#loginmodal" class="point">Shopping Cart</a></li>
                    }




                </ul>


            </div>

            <div class="container-fluid col-md-3">
                <ul>
                    <h4>Visit Us</h4>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Dhanmondi,Dhaka-1205</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Admin@easylife.com</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-phone"></span>0145678</a></li>
                </ul>


            </div>



        </div>
        <div class="container-fluid ">

            <div class="well ">
                <div class="f-otter ">
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                        <li class="facebook"><a href="https://www.gmail.com/"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                        <li class="facebook"><a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>


                    </ul>
                </div>

            </div>

        </div>


        <!--moda-->
        <div class="row">

            @RenderSection("Signup")




            <div class="modal fade" id="loginmodal" role="dialog" style="padding-top:50px;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-body">

                            <table class="table table-striped  ">

                                <tbody style="width:50%">

                                    <tr>
                                        <th>Email</th>
                                        <td><input id="email" type="text" /><span id="emailErr" style="color:red"></span></td>

                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td><input id="password" type="password" /><span id="passwordErr" style="color:red"></span></td>

                                    </tr>

                                    <tr>

                                        <td colspan="2">
                                            <span id="validationErr" style="color:red"></span>
                                            <hr>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Not A Member Yet??&nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#signupModal"><button type="button" id="sign" class="btn btn-info">Sign Up</button></a> </td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            @*<a href=@Url.Action("Dashboard","UserDashboard")><button type="button" id="loginButton" class="btn btn-info" >Log In</button></a>*@
                            <a href="#"><button type="button" id="loginButton" class="btn btn-info">Log In</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*------------------Login----------------*@

        <script>
	    $("#login").click(function () {

	        $("#signupModal").hide();

	    });
	    $("#sign").click(function () {

	        $("#loginmodal").hide();

	    });


	    $("#loginButton").click(function () {

	        var valid = true;
	        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

	        if ($("#email").val() == "") {
	            valid = false;
	            $("#emailErr").text("*Required");
	        }
	        else {
	            if (!emailReg.test($("#email").val())) {
	                $("#emailErr").text("Invalid Email");
	                valid = false;
	            }
	            else { $("#emailErr").text(""); }


	        }

	        if ($("#password").val() == "") {
	            valid = false;
	            $("#passwordErr").text("*Required");
	        }
	        else {

	            $("#passwordErr").text("");
	        }

	        if (valid) {

	            var email = $("#email").val();
	            var password = $("#password").val();

	            $.ajax({

	                method: "POST",
	                //contentType: "application/json; charset=utf-8",
	                data: { 'email': email, 'password': password },
	                url: "@Url.Action("Login", "UserHome")",
	                success: function (data) {
	                    //alert(data);
	                    if (data == "Invalid") {
	                        $("#validationErr").text("This email is not exists");
	                    }
	                    else if (data == "Block") {
	                        $("#validationErr").text("Your Account is blocked!!!");
	                    }
	                    else if (data == "Invalid Password") {
	                        $("#validationErr").text("Invalid Password!!!");

	                    }
	                    else {
	                        if (data == 0) {
	                            window.location = '@Url.Action("Index", "UserHome")'
	                        }
                            if (data == 1) {
                                window.location = '@Url.Action("Dashboard","Admin")'
	                        }

                        }
	                },
	                error: function () { alert("error") }
	            });

    }


	    });


        </script>


       @* -------------SignUp------------------*@
        <script>

            $("#signup").click(function ()
            {
                var signupValid = true;
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

                if ($("#Name").val() == "") {
                    $("#NameErr").text("*Required");
                    signupValid = false;
                }
                else {
                    $("#NameErr").text("");
                }

                if ($("#Email").val() == "") {
                    $("#EmailErr").text("*Required");
                    signupValid = false;
                }
                else {
                    if (!emailReg.test($("#Email").val())) {
                        $("#EmailErr").text("Invalid Email");
                        signupValid = false;
                    }
                    else {
                        $("#EmailErr").text("");
                    }


                }

                if ($("#Password").val() == "") {
                    $("#PassErr").text("*Required");
                    signupValid = false;
                }
                else {
                    $("#PassErr").text("");
                }
                //alert("Handler for .submit() called.");

                if (signupValid) {
                    
                    var email = $("#Email").val(), name = $("#Name").val(), Gender = $("#gender").val(), PhoneNumber = $("#PhoneNumber").val(), password = $("#Password").val();

                    $.ajax({

                        method: "POST",
                        
                        data: { 'Name':name,'Email': email,'Gender':Gender,'PhoneNumber':PhoneNumber, 'password': password },
                        url: "@Url.Action("SignUp", "UserHome")",
	                success: function (data) {
	                    //alert(data);
	                    if (data == "Email already used")
	                    {
	                        $("#EmailErr").text("Email already used!!!");
	                    }
	                    else if(data=="done")
	                    {
	                        window.location = '@Url.Action("Index", "UserHome")'
	                    }
	                    
	                },
                        error: function () { alert("error") }
                    });

                }
            
                   // event.preventDefault();
                

               
            });
            
        </script>



        <!--modal finished-->


</body>

</html>